/* ETON BLUE: #96c8a2*/

/* fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto:300');

/* remove margins */
body {
    margin: 0px;
}


/* styling for the top bar elements */
#topBar {
    background-color: black;
    width: 100%;
    height: 50px;
}
#topBarTitle {
    font-family: Roboto, sans-serif; 
    color: white;
    text-align: center;
    padding-top: 3px;
}
#hamburgerIcon {
    position: absolute;
    padding-top: 10px;
    padding-left: 10px;
    width: 30px;
    height: 30px;
    fill: white; 
}
/* when the icon is hovered over */
#hamburgerIcon:hover {
    fill: #96c8a2;
}