/* fonts */
@font-face {
    font-family: robotoThin;
    src: url(/fonts/Roboto-Thin.ttf);
}

/* remove margins */
body {
    margin: 0px;
}

/* styling for the top bar elements */
#topBar {
    background-color: black;
    width: 100%;
    height: 50px;
}
#topBarTitle {
    font-family: robotoThin, sans-serif; 
    color: white;
    align-content: center;
    align
}