/* ETON BLUE: #96c8a2*/

/* fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto:300');

/* remove margins */
body {
    margin: 0px;
}


/* styling for the top bar elements */
#topBar {
    background-color: black;
    width: 100%;
    height: 50px;
}
#topBarTitle {
    font-family: Roboto, sans-serif;      
    font-weight: 300;
    color: white;
    text-align: center;
    padding-top: 3px;
    margin: 0px;
}
#hamburgerIcon {
    position: absolute;
    padding-top: 10px;
    padding-left: 10px;
    width: 30px;
    height: 30px;
    fill: white; 
}
/* when the icon is hovered over */
#hamburgerIcon:hover {
    fill: #96c8a2;
}

/* styling for the menu */
#menu {
    height: -webkit-calc(100% - 60px);
    height: -moz-calc(100% - 60px);
    height: calc(100% - 60px);
    width: 250px;
    background-color: black;
    padding-top: 10px;
    position: absolute;
    z-index: 1000;
    margin-left: -250px;
}
.menuItem {
    color: white;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    padding-left: 10px;
}
.menuItem:hover {
    color: #96c8a2;
}
.menuHR {
    border: solid 1px white; 
}
.menuLink {
    text-decoration: none;
}

/* styling for date banners */
.dateBanner {
    width: 100%;
    height: 30px;
    background-color: #00CCE5;
    margin-bottom: 10px;
}
.dateBannerText {
    font-family: Roboto, sans-serif;      
    font-weight: 300;
    color: white;
    text-align: center; 
    padding-top: 3px;
}

/* styling for event containers */
.eventContainer {
    width: 100%;
}
.eventElementsContainer {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
.topLineContainer {
    width: 100%;
    display: table;
    vertical-align: top;
}
.eventTitle {
    font-size: 30px;
    color: black; 
    font-family: Roboto, sans-serif;      
    font-weight: 300;
    text-shadow: 1px 1px #96c8a2;
    display: block;
}
.titleContainer {
    display: table-cell;
}
.alertIcon {
    float: right;
    width: 40px;
    height: 40px;
    position: relative;
    top: 5px;
}
.alertIconContainer {
    display: table-cell;
}
.alertIcon:hover {
    background:url("bell-icon-active.svg");
}

.eventHost {
    margin-top: 10px;
    font-size: 18px;
    color: black; 
    font-family: Roboto, sans-serif;      
    font-weight: 300;
    text-shadow: 1px 1px #96c8a2;
}
.locationMarkerIcon {
    height: 20px;
    width: 20px;
}
.locationLabel {
    margin-top: -10px;
    font-size: 25px;
    color: black; 
    font-family: Roboto, sans-serif;      
    font-weight: 300;
    text-shadow: 1px 1px #96c8a2;
}
.attendButton {
    margin-top: -10px;
    font-size: 20px;
    color: #3AD282; 
    font-family: Roboto, sans-serif;
    width: 100%;
    background-color: white;
    height: 35px;
    border: 2px solid #3AD282;
    border-radius: 10px;
    outline: none;
}
.attendButton:hover {
    color: white; 
    background-color: #3AD282;
}
.eventHR {
    border: solid 1px black;
    width: 97%;
    margin-right: 0px;
}
.eventContainer:hover {
    background-color: #E7E7E7;
}

/* styling for the popup 
#fadeContainer {
    display: none;
}*/
#popupContainer {

    filter: alpha(opacity=80); /* For IE8 and earlier */
    background-color: rgba(204, 204, 204, .8);
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;
    display: table;
}
#verticalAlignmentContainer {
    width: 50%;
    height: 90%;
    display: table-cell;
    vertical-align: middle;
}
#popupMain {
    width: 90%;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    background-color: rgba(255, 255, 255, 1);
    z-index: 2000;
    position: relative;
}
#popupAlertIcon {
    width: 40px;
    height: 40px;
}
#popupAlertIcon:hover {
    background:url("bell-icon-popup-active.svg");
}
#popupBellIconContainer {
    width: 5%;
    display: table-cell;
    vertical-align: top;
}
#popupQuitIcon {
    width: 40px;
    height: 40px;
}
#popupQuitIcon:hover{
    fill: #96c8a2 !important;
}
#popupQuitIconContainer {
    width: 5%;
    display: table-cell;
    vertical-align: top;
}

#popupTitleContainer {
    display: table-cell;
    width: 90%;
}
#popupEventTitle {
    font-size: 30px;
    color: black; 
    font-family: Roboto, sans-serif;      
    font-weight: 300;
    text-shadow: 1px 1px #96c8a2;
    margin-top: -1px;
}
#popupTopSection {
    text-align: center;
    display: table;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
    width: 98%;
    vertical-align: top;
}
#popupBottomSection {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 10px;
}
#popupInfoLineContainer {
    display: table;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
}
#popupEventHostContainer {
    width: 50%;
    display: table-cell;
    vertical-align: top;
}
#popupEventHostLabel {
    margin-top: 10px;
    font-size: 20px;
    color: black; 
    font-family: Roboto, sans-serif;      
    font-weight: 300;
    text-shadow: 1px 1px #96c8a2;
    vertical-align: top;
}
#popupLocationContainerIcon {
    width: 10%;
    display: table-cell;
}
#popupLocationIcon {
    width: 30px;
    height: 30px;

}
#popupLocationInfoContainer {
    width: 40%;
    display: table-cell;
    text-align: right;
}
#popupLocationLabel {
    font-size: 20px;
    color: black; 
    font-family: Roboto, sans-serif;      
    font-weight: 300;
    text-shadow: 1px 1px #96c8a2;
    vertical-align: top;
}
#popupAttendButtonContainer {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
#popupAttendButton {
    width: 100%;
    font-size: 20px;
    color: #3AD282; 
    font-family: Roboto, sans-serif;
    background-color: white;
    height: 35px;
    border: 2px solid #3AD282;
    border-radius: 10px;
    outline: none;
}
#popupAttendButton:hover {
    color: white; 
    background-color: #3AD282;
}








